@import "../../scss/colors";

.launch-button {
  height: 48px;
  width: 184px;
  color: $c-font-primary;
  font-weight: 600;
  background-color: $c-button-primary;
  border-radius: 8px;
  outline: none;

  &.active {
    background-color: $c-button-secondary;
    cursor: not-allowed;
  }
}
