@import "normalize";
@import "colors";
@import "fonts";

* {
    box-sizing: border-box;
}

body {
    background-color: $c-background;
    background-image: url(../assets/background_elements.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-primary;
    height: 100vh;
}

.main_container {
    max-width: 1110px;
    margin: 0 auto;
}